<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />

<head>
    <title>{{ title }}</title>
    <link rel="icon" href="/img/favicon.png">

    <link rel="stylesheet" type="text/css" href="/site.css">
</head>

<html lang="en">
    
    <body>
        {% render "header.liquid" %}
        
        <div class="Body">
            <div class="Body-container">
                {{ content  }}
                {% render "footer.liquid" %}
            </div>
        </div>

    </body>
</html>