<div class="Blog-dividerContainer">
    <div class="Blog-divider" style="{{ customCss }}">
        <hr/> ⋞ ☀ ⋟ <hr/>
    </div>
    <div class="Blog-dividerFaders">
        <div class="Blog-dividerFaderLeft"></div><div class="Blog-dividerFaderRight"></div>
    </div>
</div>
