<footer>
    <hr>
    <div>
        this site is written and maintained by joey (me). you can find <a href="https://github.com/jamschutz/blog-site">the source code</a> over yonder :) <br/>
        you can find me also on <a href="https://jamschutz.itch.io/">itch</a>, <a href="https://twitter.com/SchutzJoey">twitter</a>, <a href="https://bsky.app/profile/joeyschutz.bsky.social">bluesky</a>, and good old-fashioned <a href="mailto: schutzjoey@gmail.com">email</a>
    </div>    
</footer>