<header>
    <div class="Header-container">
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/archive">archive</a></li>
                <li><a href="/links">links</a></li>
                <li><a href="/rss.txt">rss</a></li>
            </ul>
        </nav>
    </div>
</header>