<header>
    <div class="Header-container">
        <nav>
            <ul>
                <li><a>home</a></li>
                <li><a>archive</a></li>
            </ul>
        </nav>
    </div>
</header>