{% render 'blog/header' text: '-------- Comments --------' customCss: 'margin-top: 85px;' %}

<div id="Blog-commentsSectionContainer">
    <div class="Blog-commentNameInput">
        <div class="Blog-commentNameInputLabel">Name (optional):</div>
        <input id="Blog-submitCommentNameField" type="text" placeholder="you name (optional)">
    </div>
    <div class="Blog-commentInputField">
        <div class="Blog-commentNameInputLabel">Comment:</div>
        <textarea id="Blog-submitCommentTextField"></textarea>
        <button id="Blog-submitCommentBtn">submit comment</button>
    </div>

    <div id="Blog-commentsHeader">
        what the people are saying
        <hr />
    </div>
    <div id="Blog-allCommentsContainer">
        
    </div>

    {% comment %} <div class="Blog-commentContainer">
        <div class="Blog-commentName">
            joey schutz <span class="Blog-commentDate"> (11-20-2023)</span>
        </div>
        <div class="Blog-commentText">
            This is a test comment, can you see it?
        </div>
    </div>
    
    <div class="Blog-commentContainer">
        <div class="Blog-commentName">
            joey schutz <span class="Blog-commentDate"> (11-20-2023)</span>
        </div>
        <div class="Blog-commentText">
            One of my personal favorite games is WarioWare: Smooth Moves for the Wii. Wonderfully irreverent and playful, it marked me as a lifelong WarioWare fan. When I found out this week that a new WarioWare had been released (and apparently another one a few years prior...) I immediately made plans to play it with friends.        
        </div>
    </div> {% endcomment %}

</div>