{% assign paragraphs = text | newline_to_br | split: '<br />' %}

{% for paragraph in paragraphs %}
    <div class="Blog-paragraph">
        {% assign firstChar = paragraph[0] %}
        {% assign restOfParagraph = paragraph | slice: 1 %}

        {{ paragraph }}
    </div>
{% endfor %}