---
title: blog - joey schutz
layout: 'base.liquid'
---
<div class="Blog-title">
    Posts Archive
</div>

<div class="Archive-container">
    
{% assign blog_posts = collections.blog | sort: 'date' | reverse %}
{% for blog in blog_posts %}
    <div class="Archive-link">
        <a href="/{{ blog.data.title | handleize }}">[{{ blog.data.date | getDateShortString }}] {{ blog.data.title }}</a>
    </div>
{% endfor %} 

</div>
