---
title: blog - joey schutz
layout: 'base.liquid'
---

<div class="Blog-title">
    Hello!
</div>

{% render 'blog/paragraphs' text: "
    Thanks for stopping by :) Things are still a little under construction here right now, but have a look below or over at the archive for some of the posts if you like~
"
%}

{% render 'blog/header.liquid' text: 'Recent posts:' customCss: 'margin-top: 50px;' %}

<div class="Archive-container">

{% assign blog_posts = collections.blog | sort: 'date' | reverse %}
{% for blog in blog_posts limit: 10 %}
    <div class="Archive-link">
        <span>&#9758; </span><a href="/{{ blog.data.title | handleize }}">{{ blog.data.title }}</a>
    </div>
{% endfor %}

</div>
