---
title: links - joey schutz
layout: 'base.liquid'
---

<div class="Blog-title">
    Links to other sites
</div>

{% render 'blog/paragraphs' text: "Here are some links to other sites that I like~"%}

<div class="Links-container">
    {% render 'blog/header' text: 'Active blogs' customCss: 'font-size: 20px;' %}
    <a href="http://wombflashforest.blogspot.com/">David Kanaga</a><br/>
    <a href="https://myfriendpokey.tumblr.com/">thecatamites</a><br/>
    <a href="https://melodicambient.neocities.org/">Melos Han-Tani</a><br/>
    <a href="https://marinakittaka.com/">Marina Kittaka</a><br/>
    <a href="https://polclarissou.com/boudoir/index.html">Pol Clarissou</a><br/>
    <a href="https://www.blog.radiator.debacle.us/">Robert Yang</a><br/>
    <a href="http://distractionware.com/blog">Terry Cavanagh</a><br/>
    <a href="https://coreyhardt.wordpress.com/">Corey Hardt</a><br/>
</div>