---
title: links - joey schutz
layout: 'base.liquid'
---

<div class="Blog-title">
    Links to other sites
</div>

{% render 'blog/paragraphs' text: "Here are some links to other sites that I like~"%}

<div class="Links-container">
    {% render 'blog/header' text: 'Game blogs' customCss: 'font-size: 20px;' %}
    <a href="https://myfriendpokey.tumblr.com/">thecatamites</a><br/>
    <a href="http://ellaguro.blogspot.com/">Liz Ryerson</a><br/>
    <a href="http://wombflashforest.blogspot.com/">David Kanaga</a><br/>
    <a href="https://melodicambient.neocities.org/">Melos Han-Tani</a><br/>
    <a href="https://www.filfre.net/">The Digital Antiquarian</a><br/>
    <a href="https://marinakittaka.com/">Marina Kittaka</a><br/>
    <a href="https://polclarissou.com/boudoir/index.html">Pol Clarissou</a><br/>
    <a href="https://www.blog.radiator.debacle.us/">Robert Yang</a><br/>
    <a href="http://distractionware.com/blog">Terry Cavanagh</a><br/>
    <a href="https://coreyhardt.wordpress.com/">Corey Hardt</a><br/>
    <a href="https://lostgarden.home.blog/blog-archive/">Lost Garden</a><br/>

    
    {% render 'blog/header' text: 'Old game sites (no longer active)' customCss: 'font-size: 20px;' %}
    <a href="https://www.tigsource.com/">TIG Source</a><br/>
    <a href="https://www.freeindiegam.es/">Free Indie Games</a><br/>
    <a href="http://indygamer.blogspot.com/">Indygamer</a><br/>
    <a href="http://www.playthisthing.com/">Play This Thing!</a><br/>
    <a href="https://gnomeslair.blogspot.com/">Gnome's Lair</a><br/>

    
    {% render 'blog/header' text: 'Miscellaneous game sites' customCss: 'font-size: 20px;' %}
    <a href="https://wfgames.net">Weird Fucking Games</a><br/>
    <a href="https://warpdoor.com/">Warp Door</a><br/>
    <a href="https://www.critical-distance.com/">Critical Distance</a><br/>
    <a href="https://bulletpointsmonthly.com/">Bullet Points</a><br/>
    <a href="https://mut.media/">moochi</a><br/>
    <a href="https://tycobb.club/">ty</a><br/>
</div>


{% render 'blog/comments' %}